body {
	
	background-color: white;
	height: 100%;
}

.btn {
	
	background-color: lightgrey;
	height: 20px;
}

#chairform {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#roomform {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.form-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

#associate {
	
	background-color: grey;
	font-size: 14px;
	border-radius: 5px;
	height: 30px;
}

#report {
	
	background-color: grey;
	font-size: 14px;
	border-radius: 5px;
	height: 30px;
}

#txtChair{
	
	height: 20px;
	font-size: 14px;
	
}
#txtRoom{
	
	height: 20px;
	font-size: 14px;
}

.title {
	
	color: grey;
}

#Chairdropdown {
	
	width: 125px;
}

#Roomdropdown {
	
	width: 125px;
}

#structure {
	
	padding-left: 30%;
	border: 1px solid grey;
	background-color: lightgrey;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}

#report1 {
	
	border:0.5px solid black;
}

.container { 
    width: 300px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.head {
    border: 1px solid;
    height: 45px;
    padding-left:40%;
    padding-top:10%;
}

table {
	display: none;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    padding-left: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
	
	text-align: center;
	widht: 100px;
}

tr:nth-child(even) {
    background-color: grey;
}