<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>DemoWebApp</display-name>
	<servlet>
                <servlet-name>JAX-RS Servlet</servlet-name>
                <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class> <!-- org.apache.wink.server.internal.servlet.RestServlet -->
                <init-param>
                        <param-name>javax.ws.rs.Application</param-name>
                        <param-value>com.ibm.java.demo.rest.MyApplication</param-value>
                </init-param>
                <load-on-startup>1</load-on-startup>
                <enabled>true</enabled>
                <async-supported>false</async-supported>
        </servlet>
        <servlet-mapping>
                <servlet-name>JAX-RS Servlet</servlet-name>
                <url-pattern>/rest/*</url-pattern>
        </servlet-mapping>
        
        <resource-ref>
				<description>Resource reference to mySQL database</description>
				<res-ref-name>jdbc/mySQL</res-ref-name>
				<res-type>javax.sql.DataSource</res-type>
				<res-auth>Container</res-auth>
				<res-sharing-scope>Shareable</res-sharing-scope>
		</resource-ref>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	

</web-app>